@section Styles {
    <link rel="stylesheet" href="~/css/index-styles.css" />
}

<div class="fixed-top text-left">
    <img src="~/imgs/AddButton.png" alt="Create Graph" style="height: 100px; margin-top: 4.5rem; margin-left: 1rem;
" />
</div>

<!--This code is just to work out how the cards are going to be layed out-->
<div class="container bcontent d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 65rem;">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <h5 class="card-header">Data Title</h5>
                <div class="card-body">
                    <p class="card-text">A brief description about the data being tracked here.</p>
                </div>
            </div>
            <div class="col-sm-7">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
