<!--This code is just to work out how the cards are going to be layed out-->
<div class="container bcontent">
    <div class="card" style="width: 500px;">
        <div class="row no-gutters">
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">Suresh Dasari</h5>
                    <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                    <a href="#" class="btn btn-primary">View Profile</a>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="https://via.placeholder.com/150" /> <!--This is where ChartJS will be for a preview-->
            </div>
        </div>
    </div>
</div>
