<!--This code is just to work out how the cards are going to be layed out-->
<div class="container bcontent">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <div class="card-body">
                    <h5 class="card-title">Data Title</h5>
                    <hr />
                    <p class="card-text">The description about the data being tracked here.</p>
                </div>
            </div>
            <div class="col-sm-7">
                <img src="https://via.placeholder.com/600x150" /> <!--This is where ChartJS will be for a preview-->
            </div>
        </div>
    </div>
</div>
