@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home-styles.css" />
}

<div class="text-center">
    <img class="profile-pic mt-2 mb-1" src="~/imgs/default-profile.png" alt="Profile picture" />
    <!--A link for this button will be created at a later point
        when we get the Login & Create Account page created.-->

    <div class="home-btns h-100">
        <a class="btn btn-primary w-50 h-75 font-weight-bold m-1" href="">
            <div class="home-login h1 pt-1">Login</div>
        </a>
        <a class="btn btn-light text-dark w-50 h-25 p-0 mb-5" href="">Create Account</a>
    </div>

    <h1 class="h1 mt-5">About</h1>
    <hr />
    <p class="paragraph h3 text-light">
        This website gives users a way to track several different kinds of data and show that data visually through graphs. 
        They can update it at any time and make as many data tracking graphs as they desire.
    </p>

    <h1 class="h1 mt-5">Features</h1>
    <hr />
    <p class="paragraph h3 text-light">
        Coming soon..
    </p>
</div>
