@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home-styles.css" />
}

    <div class="text-center">
        <!--A think for this button will be created at a later point 
            when we get the Login & Create Account page created.-->
        
        <div class="home-btns">
            <a class="btn btn-primary w-50 h-75 font-weight-bold m-1" href="">
                <div class="home-login">Login</div>
            </a>
            <a class="home-create-account btn btn-light text-dark w-50 h-25" href="">Create Account</a>
        </div>
    </div>
